<div class="container col-md-7 col-sm-offset-2 well">
  <h1 class="name info">Contact Details</h1>
  <div class="col-md-2">
    <form action="/contacts/new">
      <button class="btn btn-primary btn-link info" type="submit" value="New"><span class="glyphicon glyphicon-pencil"> New contact</span></button>
    </form>
  </div>
  <hr>
  {{#each contacts}}
    <div class="panel panel-warning">
      <div class="panel-heading"><h4 class="name">{{first_name }} {{last_name}}</h4></div>
      <div class="panel-body margin">
        <div class="col-sm-6"><img class="img-size" src="{{image_url}}"></div>
        <div class="col-sm-5">
          <p><span class="glyphicon glyphicon-earphone"></span>  {{phone_number}}</p>
          <p><span class="glyphicon glyphicon-envelope"></span> {{email_address}}</p>
          <p><span class="glyphicon glyphicon-home"></span> {{line_1}} {{line_2}}</p>
          <p>{{city }} {{zip}}</p>
          <form method="POST" action="/contacts/{{id}}?_method=DELETE">
            <button class="btn btn-primary" type="submit" value="Delete"><span class="glyphicon glyphicon-trash"> Delete</span></button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>
